*.tar
*.tgz
*.gz
*.zip
*.js
!src/scripts/*.js
!seed-tests/*.js
*.js.map
*.log
*.d.ts
!videoplayer.d.ts
!video-source.d.ts
demo/lib
demo/app/**/*.js
demo/app/app.js
demo/*.d.ts
demo/platforms
demo/node_modules
node_modules
demo/.vscode
node_modules
.vscode/
*.DS_Store

.idea/
.vscode/
.tscache/
/demo/node_modules/
/demo/platforms/
/demo/hooks/
node_modules/
.settings/
